@font-face {
	font-family: Alphabet;
	font-style: normal;
    font-weight: normal;
    unicode-range: U+0600-06FF;
	src: url('./fonts/Tanha.eot');
	src: url('./fonts/Tanha.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/Tanha.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/Tanha.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/Tanha.ttf') format('truetype');
}
